In [2]:
import pandas as pd

In [5]:
df = pd.read_csv("data/uber_data.csv")
df.tail()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
99995,1,2016-03-01 06:17:10,2016-03-01 06:22:15,1,0.50,-73.990898,40.750519,1,N,-73.998245,40.750462,2,5.0,0.0,0.5,0.00,0.00,0.3,5.80
99996,1,2016-03-01 06:17:10,2016-03-01 06:32:41,1,3.40,-74.014488,40.718296,1,N,-73.982361,40.752529,1,14.0,0.0,0.5,2.00,0.00,0.3,16.80
99997,1,2016-03-01 06:17:10,2016-03-01 06:37:23,1,9.70,-73.963379,40.774097,1,N,-73.865028,40.770512,1,29.0,0.0,0.5,8.80,5.54,0.3,44.14
99998,2,2016-03-01 06:17:10,2016-03-01 06:22:09,1,0.92,-73.984901,40.763111,1,N,-73.970695,40.759148,1,5.5,0.5,0.5,1.36,0.00,0.3,8.16
99999,1,2016-03-01 06:17:11,2016-03-01 06:22:00,1,1.00,-73.990685,40.750473,1,N,-73.980354,40.754910,2,6.0,0.0,0.5,0.00,0.00,0.3,6.80

In [6]:
df2 = pd.read_parquet('data/fhvhv_tripdata_2024-05.parquet')

In [9]:
df2.head()

,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag
0,HV0003,B03404,B03404,2024-04-30 23:55:50,2024-04-30 23:59:00,2024-05-01 00:00:36,2024-05-01 00:38:21,138,21,18.680,...,4.48,0.00,2.5,0.00,47.41,N,N,N,N,N
1,HV0003,B03404,B03404,2024-05-01 00:41:32,2024-05-01 00:47:40,2024-05-01 00:49:40,2024-05-01 00:57:08,21,22,1.710,...,1.03,0.00,0.0,0.00,6.69,N,N,N,N,N
2,HV0003,B03404,B03404,2024-05-01 00:09:01,2024-05-01 00:10:51,2024-05-01 00:11:31,2024-05-01 00:33:51,140,129,5.000,...,2.65,0.75,0.0,0.00,19.82,Y,N,N,N,N
3,HV0003,B03404,B03404,2024-05-01 00:25:43,2024-05-01 00:48:00,2024-05-01 00:48:30,2024-05-01 01:10:17,138,48,9.250,...,3.47,2.75,2.5,0.00,25.28,N,N,N,N,N
4,HV0005,B03406,None,2024-05-01 00:00:08,NaT,2024-05-01 00:09:29,2024-05-01 00:28:51,4,25,4.996,...,2.38,2.75,0.0,6.99,22.24,N,N,N,N,Y

In [10]:
len(df2)

20704538

In [15]:
df = df2[:300000]

In [16]:
df.head()

,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag
0,HV0003,B03404,B03404,2024-04-30 23:55:50,2024-04-30 23:59:00,2024-05-01 00:00:36,2024-05-01 00:38:21,138,21,18.680,...,4.48,0.00,2.5,0.00,47.41,N,N,N,N,N
1,HV0003,B03404,B03404,2024-05-01 00:41:32,2024-05-01 00:47:40,2024-05-01 00:49:40,2024-05-01 00:57:08,21,22,1.710,...,1.03,0.00,0.0,0.00,6.69,N,N,N,N,N
2,HV0003,B03404,B03404,2024-05-01 00:09:01,2024-05-01 00:10:51,2024-05-01 00:11:31,2024-05-01 00:33:51,140,129,5.000,...,2.65,0.75,0.0,0.00,19.82,Y,N,N,N,N
3,HV0003,B03404,B03404,2024-05-01 00:25:43,2024-05-01 00:48:00,2024-05-01 00:48:30,2024-05-01 01:10:17,138,48,9.250,...,3.47,2.75,2.5,0.00,25.28,N,N,N,N,N
4,HV0005,B03406,None,2024-05-01 00:00:08,NaT,2024-05-01 00:09:29,2024-05-01 00:28:51,4,25,4.996,...,2.38,2.75,0.0,6.99,22.24,N,N,N,N,Y

In [17]:
df.to_csv('data/dataset.csv', index=False)

In [18]:
df.head()

,hvfhs_license_num,dispatching_base_num,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,...,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag
0,HV0003,B03404,B03404,2024-04-30 23:55:50,2024-04-30 23:59:00,2024-05-01 00:00:36,2024-05-01 00:38:21,138,21,18.680,...,4.48,0.00,2.5,0.00,47.41,N,N,N,N,N
1,HV0003,B03404,B03404,2024-05-01 00:41:32,2024-05-01 00:47:40,2024-05-01 00:49:40,2024-05-01 00:57:08,21,22,1.710,...,1.03,0.00,0.0,0.00,6.69,N,N,N,N,N
2,HV0003,B03404,B03404,2024-05-01 00:09:01,2024-05-01 00:10:51,2024-05-01 00:11:31,2024-05-01 00:33:51,140,129,5.000,...,2.65,0.75,0.0,0.00,19.82,Y,N,N,N,N
3,HV0003,B03404,B03404,2024-05-01 00:25:43,2024-05-01 00:48:00,2024-05-01 00:48:30,2024-05-01 01:10:17,138,48,9.250,...,3.47,2.75,2.5,0.00,25.28,N,N,N,N,N
4,HV0005,B03406,None,2024-05-01 00:00:08,NaT,2024-05-01 00:09:29,2024-05-01 00:28:51,4,25,4.996,...,2.38,2.75,0.0,6.99,22.24,N,N,N,N,Y

In [19]:
df.columns

Index(['hvfhs_license_num', 'dispatching_base_num', 'originating_base_num',
       'request_datetime', 'on_scene_datetime', 'pickup_datetime',
       'dropoff_datetime', 'PULocationID', 'DOLocationID', 'trip_miles',
       'trip_time', 'base_passenger_fare', 'tolls', 'bcf', 'sales_tax',
       'congestion_surcharge', 'airport_fee', 'tips', 'driver_pay',
       'shared_request_flag', 'shared_match_flag', 'access_a_ride_flag',
       'wav_request_flag', 'wav_match_flag'],
      dtype='object')

In [20]:
filtered_df = df.dropna()

In [22]:
filtered_df.to_csv('data/dataset.csv', index=False)

In [23]:
len(filtered_df)

227111